@import "./variables.scss";

body {
    .book-details-container {
        width: 100%;
        color: $dark;
    
        img {
            height: 650px;
            margin: 4rem 0 4rem 4rem;
            box-shadow: $primary-shadow;
            z-index: 1;
            position: absolute;
        }
    
        .book-container-texts {
            .book-container-heading {
                font-weight: 600;
                margin-top: 10%;
            }
    
            .book-rating {
                margin-bottom: 0;
    
                .rating-stars {
                    color: $secondary-color;
                    margin: 1rem 0 1rem 0;
                }
            }
    
            .book-description {
                margin: 0 4rem 0 0;
                text-align: justify;
            }
        }

        .container-footer {
            background-color: $pink;
            color: $dark;
            max-width: 100%;
            height: auto;
            transform: translate(0, 50%);

            .row {
                padding: 4rem 0 4rem 0;
            }

            .book-price {
                color: $heavy-dark;
                font-weight: 600;
            }

            .book-details-btn {
                width: 200px;
                padding: 0.8rem;
                border-radius: 5rem;
                font-size: 1.1rem;
                font-weight: 600;
                color: $secondary-color;
                background-color: $white;
                border: none;
                margin: 1rem 1rem 1rem 0;

                &:hover {
                    transform: scale(1.02);
                    box-shadow: $btn-shadow;
                }
            }
        }
    }
}