@import "./variables.scss";

.card-container {
    display: inline-block;
    margin: 1rem 4rem 1rem 0;
    transition: all .15s linear;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 1.2rem $light-dark;
    }
    
    .card-image {
        height: 250px;
    }
    
    .card-actions {
        color: $light-dark;
    }
}