$primary-color: #EDF2F4;
$white: #ffffff;
$secondary-color: #a10013;

$heavy-dark: #8c0112;
$dark: #2B2D42;
$light-dark: #666666;
$pink: #ff92a8;


$background-radiant: linear-gradient(90deg, rgba(255,146,168,1) 0%, rgba(255,156,175,1) 39%, rgba(255,192,204,1) 100%);
$primary-shadow:   1.5rem 1.7rem 4rem -1.1rem rgba(31,31,31,1);
$btn-shadow: 0rem 0rem 3rem -1.1rem #1f1f1f;